body {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:rgba(56, 56, 56, 1);
    margin: 0px;
} 

header {
    background:  linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #F9FAFB 100%), linear-gradient(267.28deg, #012845 0%, #FFFFFF 50.43%, #F20574 99.83%);
    backdrop-filter: blur(210px);
    padding: 4px;
}

a { text-decoration: none; }

.sectionTitle {
    position:relative;
    padding-bottom: 0px;
    text-decoration: none;
    align-self: flex-start;
    justify-self: flex-start;
    max-width: fit-content;
}

.sectionTitle::after {
    background: linear-gradient(269.95deg, #F20574 2.54%, #012845 100.4%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

#socialBar {
    margin: 16px 8vw 0px 0px;
}

.socialIcon {
    margin: 12px;
    background-color: #F20574;
    border-radius: 8px;
}
 
#contentGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    min-width: 900px;
}

.gridSpotTech {
    grid-column-start: 1;
    grid-row-start: 1;
}

.gridSpotAbout {
    grid-column-start: 2;
    grid-row: 1 / span 2;
}

.gridSpotSocial {
    grid-column-start: 1;
    grid-row-start: 2;
}

/* Skill Card Styles */

#skillSection {
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-top: 16px;
}

.skillCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px 30px 30px;
}

.skillCard p {
    max-width: 300px;
    text-align: left;
    align-self: flex-start;
}

.skillCard img {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
}



/* Case Study Styles */

#caseStudySection {
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-top: 16px;
}

.caseStudyImage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    width: 900px;
}

.caseStudyImageFlip {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    width: 900px;
}

.caseStudy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 900px;
    height: 215px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.caseStudyText {
    width: 50%;
}

.caseStudyTextFlip {
    width: 50%;
    justify-self: flex-end;
    text-align: right;
}

.borderGradient{
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to bottom, #F20574, #8C0343) border-box;
    border-radius: 12px;
      border: 2px solid transparent;
}

.hoverStudy:hover .caseStudy{
    background:  rgba(242, 5, 116, 0.126);
    border-radius: 2px solid;
    border-color:rgba(140, 3, 67, 1);
}



/* Tech Skills Styles */

#chipCloud {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 360px;
}

.chip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    background: #F20574;
    border-radius: 68px;
    color: #F9FAFB;
    margin: 0px 12px 10px 0px;
}

.circleSmall {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

#chipKey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 345px;
}



/* About Me Styles */

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 435px;
    margin-left: 15px;
}

#aboutMe p {
    line-height: 165.7%;
}

#socialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 360px;
}

/*Typography Styles*/

h1 {
    font-family: 'Spectral', serif;
    font-size: 48px;
}

h2 {
    font-family: 'Spectral', serif;
    font-size: 32px;
    font-variant: small-caps;
    margin: 4px;
    line-height: 32px;
}

h3 {
    font-family: 'Spectral', serif;
    font-size: 24px;
    font-variant: small-caps;
}

h4 {
    font-family: 'Spectral', serif;
    font-size: 20px;
    font-variant: small-caps;
}

h5 {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
}

p{
    margin: 4px;
}

.p2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.p3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.pMobile {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
}



/*Color styles*/

.colorBright {
    color: rgba(242, 5, 116, 1);
}

.colorDaring {
    color: rgba(140, 3, 67, 1);
}

.colorRefined {
    color: rgba(1, 40, 69, 1);
}

.colorTextLight {
    color: rgba(214, 214, 214, 1);
}

.colorTextWhite {
    color: rgba(249, 250, 251, 1);
}

.colorTextDark {
    color: rgba(56, 56, 56, 1);
}

.colorTextBlack {
    color: rgba(29, 29, 29, 1);
}

.blueBackground {
    background: rgba(1, 40, 69, 1);
}

.maroonBackground {
    background: #8C0343;
}

.pinkBackground {
    background: #F20574;
}



/*Flexbox Styles*/

.rowFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.columnFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flexEnd {
    justify-self: flex-end;
    align-self: flex-end;
}

.columnLeftFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


/*Spacing Elements */

.paddingSmall {
    padding: 6px;
}

.paddingMedium {
    padding: 12px;
}

.spacerSmall {
    height: 12px;
}

.spacerMedium {
    height: 40px;
}

.spacerLarge {
    height: 60px;
}

.spacerWide {
    width: 50%;
    height: 100%;
}

.newFlexRow {
    width: 100%;
 }
 
.titlePadding {
    margin-left: 60px;
    margin-bottom: 24px;
}

.pushBack {
    position: absolute;
    z-index: -1;
}

.halfWidth {
    width: 50%;
}